
.dropdown {
    position: relative;
    flex: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border: 2px solid black;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .links {
      display: none;
    }
  
    .dropdown {
      display: inline-block;
    }
  }