
.nav {
  height: 250px;
  position: fixed;
  background: linear-gradient(to bottom, rgb(238,238,238), rgba(238,238,238), transparent);}

.navContainer {
  height: 120px;
  border-bottom: 3px solid black;
  border-radius: 9%;
}

.button {
  transition: 100ms;
}

.button:hover {
  transition: 100ms;
  transform: scale(1.2);
  font-size: 120%;
}

.dropdown {
    position: relative;
    flex: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border: 2px solid black;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .links {
      display: none;
    }
  
    .dropdown {
      display: inline-block;
    }
  }